/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2{
      font-size: 20px;
    }
  }
  
  /* Untuk Smartphone */
  @media screen and (max-width: 600px) {
    footer {
      text-align: center;
    }
    
    .lesson {
      width: 100%;
    }
    
    .btn {
      width: 100%;
    }
    
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: left;
    }
    
    /*.header-right{
      display: none;
    }

    .menu-icon{
      display: block;
    }*/
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }

    nav {
    height: auto;
    border-bottom: 0;
    background: #3498db;
  }
  nav ul {
    width: 100%;
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: none;
    display: block;
    background: #ffffff;
  }
  nav li a {
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 0px;
    color: #333333;
  }
  nav a#pull {
    display: block;
    background-color: #3498db;
    width: 100%;
    position: relative;
    color: #ffffff;
  }
  nav a#pull:after {
    content:"";
    background: url('nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px;
  }
  }
