html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }

*{
  font-family: 'Quicksand';
  box-sizing: border-box;
}
body {
  background-image: url(assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

.container{
  max-width: 1124px;
  padding: 0 15px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 120px;
}

.logo{
  float: left;
  padding: 15px 0;
  width: 124px;
  margin-top: -5px;
  margin-left: 20px;
}

.navigation{
  float: right;
}

.navigation li{
  float: left;
  padding: 33px 20px;
}

.navigation li a{
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.content{
  margin-top: 165px;
}

.content h1{
  text-transform: uppercase;
  font-size: 64px;
  font-weight: bold;
  /*line-height: 25px;*/  
  letter-spacing: 0.05em;
}

.content .letter{
  letter-spacing: -0.015em;
}

.content p{
  font-size: 18px;
}

.btn {
  width: 290px;
  padding: 12px 24px;
  color: white;
  font-size: 18px;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  background-color: #FFB823;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.btn .fas {
  float: right;
  font-size: 20px;
  text-align: center;
}

.content-team{
  margin-top: 100px;
  margin-bottom: 200px;
  padding-top: 50px;
}
.content-team h1{
  text-transform: capitalize;
  text-align: center;
}
.card-wrapper{
  margin-top: 150px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 22.25%;
  height: 300px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  float: left;
  margin-bottom: 80px;
  margin-left: 15px;
  margin-right: 15px;
}

.avatar {
  position: relative;
  text-align: center;
  top: -50px;
}

.rounded{
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.card .name{
  font-size: 18px;
  font-weight: bold;
}

.card p{
  padding: 0 10px;
}

.clear{
  clear: left;
}

/*header*/
nav {
  height: 65px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  position: fixed;
  top: 1;
  z-index: 10;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  width: 500px;
  height: 40px;
  float: right;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  font-weight: bold;
  display: inline-block;
  transition: all 0.5s;
}
nav a:hover, nav a:active {
  background-color: black;
  color: white;
}
nav a#pull {
  display: none;
}

/*.logo {
  width: 124px;
  margin-top: -5px;
  margin-left: 20px;
}*/